// -------------------------------- variables -------------------------------

// colors
$white: #ffffff;
$bgColor: #0d1328;
$lightGray: #b4bec5;
$pink: #ed4779;

// ---------------------------------- fonts ---------------------------------

@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Display:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Questrial:regular&display=swap);

// ------------------------------- base styles ------------------------------

// base scss file
@import 'base/set';

// ------------------------------- components -------------------------------

@import 'components/header';
@import 'components/loader';
@import 'components/navigation';
@import 'components/discover';

// ------------------------------ common styles -----------------------------

@import 'common/common';
